[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
twine = "*"
pytest = "*"
flake8 = "*"
black = "*"

[packages]
click = "*"
plette = "*"

[requires]

[scripts]
package = "pipenv run python setup.py sdist --formats=gztar"
pubtest = "pipenv run twine upload --repository pypitest dist/*"
publish = "pipenv run twine upload --repository pypi dist/*"
test = "pipenv run pytest"
lint = "pipenv run flake8 pipfile_sort tests && pipenv run pylint pipfile_sort tests"
format = "pipenv run black pipfile_sort tests"
